@import './base.css';

.heading-section {
  color: rgb(221, 73, 5);
  font-size: 32px;
  font-weight: 700;
}

.white-link {
  color: rgb(218, 214, 214);
}

.text-input {
  height: 20px;
  padding: 4px;
  border-radius: 5px;
}

.select-input {
  height: 30px;
  padding: 3px;
  border-radius: 5px;
}

.non-link {
  text-decoration: none;
  color: inherit;
}

.error {
  color: rgb(254, 0, 0);
}
